<div class="row">
    <div class="col-8">
       <div class="card">
          <div class="card-header bg-success">
              <h6>Employee List</h6>
          </div>
          <div class="card-body">
             <div class="row">
               <div class="col-12">
                 <table class="table table-borderd">
                  <thead>
                    <tr>
                      <th>Sr No</th>
                      <th>Name</th>
                      <th>Contact No</th>
                      <th>Email-Id</th>
                    </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let item of employeeList">
                      <td>{{ item.empId }}</td>
                      <td>{{ item.name }}</td>
                      <td>{{ item.contactNo }}</td>
                      <td>{{ item.emailId }}</td>
                      <td class="text-center">
                       <button class="btn btn-primary" (click)="onEdit(item)">Edit</button>
                       <button class="btn btn-danger mx-2" (click)="onDelete(item.empId)">Delete</button>
                     </td>
                   </tr>
                  </tbody>
                 </table>
               </div>
             </div>
          </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card"> 
        <div class="card-header bg-succsess"> 
          New Employee
        </div>
        <div class="card-body">  
          <form [formGroup]="employeeForm">
           <div class="row">  
              <div class="col-12"> 
                <label for="">Name</label>
                <input type="text" formControlName="name" class="form-control">
              </div>
              <div class="col-6"> 
                <label for="">Email-Id</label>
                <input type="text" formControlName="emailId" class="form-control">
              </div>
              <div class="col-6"> 
                <label for="">Contact No</label>
                <input type="text" formControlName="contactNo" class="form-control">
              </div>
              <div class="col-6"> 
                <label for="">City</label>
                <input type="text" formControlName="city" class="form-control">
              </div>
              <div class="col-6"> 
                <label for="">State</label>
                <input type="text" formControlName="state" class="form-control">
              </div>
              <div class="col-6"> 
                <label for="">Pin Code</label>
                <input type="text" formControlName="PinCode" class="form-control">
              </div>
              <div class="col-12"> 
                <label for="">Address</label>
                <textarea formControlName="address" class="form-control"></textarea>
              </div>
           </div>
          
           <div class="row pt-2">
              <div class="col-6 text-center">
                <!-- <button type="button" class="btn btn-success" (click)="onsave()">Save Employee</button>
                 <button type="button" class="btn-btn-success">Reset</button> -->
              </div>
              <div class="col-6 text-center">
                <button *ngIf="showUpdateButton" type="button" class="btn btn-success" (click)="onUpdate()">Update Employee</button>
                <button *ngIf="!showUpdateButton" type="button" class="btn btn-success" (click)="onsave()">Save Employee</button>
             </div>
            </div>  
          </form>
        </div>
       </div>  
     </div>
</div>